body{
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  padding: 24px 96px;
}
a{
  text-decoration: none;
  color:#E5E7eb;
}
a:hover{
  color: gray;
}
a:visited{
  color: gray;
}
ul{
  list-style-type: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 0 24px;
  color: #1F2937;
  min-height: 60px;
  overflow: hidden;

}

.logo{
  width:auto;
  height:100%;
  max-height: 90px;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-credit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #20221f;
  padding: 5px;
  font-size: 0.2em;
  width: 100%;
  text-align: center;
}
.image-credit a {
  color: #20221f;
  text-decoration: underline
}

.image-container:hover .image-credit {
  display: block;
}
.nav-links{
  display: flex;
  gap: 20px;
}
.main{
  display: flex;
  justify-content: center;
}
.main-text{
  width: 300px
}
.main-image{
 width: 300px;
}
h2{
  text-align: center;
}
.projects{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.call-to-action{
  display: flex;
  justify-content: center;
}
.call-to-action-text{
  width: 500px;
}
footer{
  text-align: center;
}