header{
  display: flex;
  justify-content: space-between;
}
.nav-links{
  display: flex;
  gap: 20px;
}
.main{
  display: flex;
  justify-content: center;
}
.main-text{
  width: 300px
}
.main-image{
 width: 300px;
}
