body{
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  padding: 24px 96px;
}
a{
  text-decoration: none;
  color:#E5E7eb;
}
a:hover{
  color: gray;
}
a:visited{
  color: gray;
}
ul{
  list-style-type: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 0 24px;
  color: #1F2937;
  min-height: 60px;
  overflow: hidden;
}
.logo{
  width:auto;
  height:100%;
  max-height: 90px;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-credit {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #20221f;
  padding: 5px;
  font-size: 0.2em;
  width: 100%;
  text-align: center;
}
.image-credit a {
  color: #20221f;
  text-decoration: underline
}

.image-container:hover .image-credit {
  display: block;
}
.nav-links{
  display: flex;
  gap: 20px;
}
.main{
  padding: 48px;
  display: flex;
  justify-content: space-around;
  gap:12px;
  background-color: #1F2937;
}
.main-text{
  max-width: 300px;
}
.main-text h1{
  color: #F9FAF8;
  font-weight: 900;
}
.main-text p{
  color: #E5E7eb;
}
.sign-up{
  background-color:#3882F6 ;
  padding: 5px 24px;
  border-radius: 10px;
  border:none;
  color:#E5E7eb;

}
.main-image{
 max-width: 400px;
}

.image-container img.main-image + .image-credit {
  color: #E5E7eb;
  top:0;
  left:0;
}

.image-container img.main-image + .image-credit a {
  color: #E5E7eb;
}

h2{
  text-align: center;
}
.projects{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.call-to-action{
  display: flex;
  justify-content: center;
}
.call-to-action-text{
  width: 500px;
}
footer{
  text-align: center;
}